[{oacd_core, [
	{nodes, ['openacd@127.0.0.1']}	
	, {console_loglevel, info}
	, {logfiles, [{"/tmp/openacd.log", info}]}
	%% Add plugins here
	, {plugins, []}
]}
%% Application-specific configuration here
% {oacd_freeswitch, []}
].
